<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Resillience</string>
		<key>info</key>
		<string>resilience |ri&apos;zilyens|

noun

1 the ability of a substance or object to spring back into shape; elasticity: ...

2 the capacity to recover quickly from difficulties; toughness: ... 

spirit hardness toughness strength

Oxford Dictionary – The Concise Oxford Dictionary 6th Ed. 2011

Resilience

The capacity for resilience is useful for living a fulfilled life. Some people are naturally more resilient than others. However, people can learn and build resilience. Resilience is learned in and through challenge. 

Perhaps challenge bought about by suffering from external sources or through ill-health or injury. Resilience can also be learned through training. When we train our body, mind and emotional worlds we put ourself through challenge or suffering. Pushing the self to extend and expand builds resilience.

Many people choose not to take this journey, perhaps they have suffered enough, or maybe they are unaware of the benefits of resilience. They may just be lazy and not seeking change or challenge. It is a normal thing to try to avoid pain and seek pleasure, there are many and varied reasons to avoid suffering. 

However, the journey to resilience requires a stretching of the self, challenging the self, and movement to change. Avoidance and stagnation will not build resilience, only facing the self, making an internal decision to change and taking steps forward. 

The journey to resilience can be through a concerted effort or a gentle progression. However, there will be times of struggle as the body, mind, emotional world, self-concept and self-image need to change. Any and all of these parts of the self, at times, will resist change.

To obtain resilience, one must take the internal journey to self-awareness. Resilience abides in the conative domain of the mind, the part of us that has to do with will and desire. Our capacity to look inside and observe our responses assists in building self-awareness. It is an internal process of reflecting on how our thinking, emotions and behaviour affect ourself and others. Some helpful methods to greater self-awareness are, observing the self and interactions with others, listening to feedback from others, remaining present, and having an attitude of openness and surrender. It is worthwhile to do your own research and study on topics to do with awareness and resilience.

Resilience is formed by creating habits. Strong habits within the self to do with getting up and moving on again after falling or failing. It is valuable to learn the lessons of the failure so as not to repeat the same thing. Using an action / reflection model to evaluate and move on is a useful process.

There are many action / reflection models you can use. It may be helpful to record your events and document your learning as this process helps clarify what happened, thus gaining greater depth of learning.

Here is an example of an action / reflection model used by smash the sky for evaluating and learning.</string>
		<key>activities</key>
		<array>
			<dict>
				<key>type</key>
				<string>FollowStepsEnterText</string>
				<key>title</key>
				<string>Plan</string>
				<key>subtitle</key>
				<string>Formulate your plan</string>
				<key>steps</key>
				<array>
					<string>List your habit to create or change</string>
					<string>Write the actions you will take to change the habit</string>
					<string>List the barriers you face</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>FollowStepsEnterText</string>
				<key>title</key>
				<string>Do</string>
				<key>subtitle</key>
				<string>Implement plan</string>
				<key>steps</key>
				<array>
					<string>Take action</string>
					<string>Record what happens as you implement your plan.</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>FollowStepsEnterText</string>
				<key>title</key>
				<string>Reflect</string>
				<key>subtitle</key>
				<string>Review and Reflect</string>
				<key>steps</key>
				<array>
					<string>Record successes and failures.</string>
					<string>Document issues and concerns.</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>FollowStepsEnterText</string>
				<key>title</key>
				<string>Theorise</string>
				<key>subtitle</key>
				<string>Document Learning</string>
				<key>steps</key>
				<array>
					<string>Consider how you are building resillience</string>
					<string>Document your learning</string>
					<string>List the actions you will take based on your learning, as you replan and continue.</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>My Attributes</string>
		<key>info</key>
		<string>at·trib·ute 

vt … to regard somebody or something as having particular qualities
n … a quality, property, or characteristic of somebody or something 

attribute

verb …
• regard a quality or feature as characteristic of or possessed by (someone or something) …

noun 
• a quality or feature regarded as a characteristic or inherent part of someone or something …

Encarta® World English Dictionary © 1999

 Oxford Dictionary – The Concise Oxford Dictionary 6th Ed.

Many of our attributes are expressed in our behaviour. Attributes can be like the top of an iceberg. The seen part is our behaviour. However, an iceberg is much larger than the seen part. Under the water is a huge amount of ice. The unseen part is like the results of our behaviour. 

Our greatest strength can be our greatest weakness. An attribute that we may consider our strength may be considered or experienced by others as our weakness. For example, examine the story of David and Goliath. David was a small shepherd boy. Goliath was a giant warrior and undefeated in battle. Goliath was the Philistines hero, competitive, powerful, and successful. These attributes would normally be considered useful for a warrior. Yet, these very attributes came out in his behaviour as pride and arrogance. As he stood there mocking his enemy, he left himself vulnerable to attack. 

David, being a Sheppard, was skilled at killing Lions and Bears. As he was poor, his weapon was the stone and sling. David was faithful, self-assured and a clear thinker. He went into battle with no armour or sword, yet he killed Goliath and cut off his head. David became a leader in the army of king Saul. He spent many years fighting battles and won them all. His attributes, of faithfulness, self-assurance, and clear thinking under pressure were his strength, yet King Saul was jealous of David, because of his success. The King tried to kill him on more than one occasion. David’s greatest strengths became his vulnerability.

We are often blind to the submerged parts of the iceberg, the affects of our attributes upon others. Our greatest strengths can be our greatest weaknesses. The Titanic was the unsinkable ship, however, its superior design wasn’t good enough when the unexpected happened. 

To explore our vulnerabilities and the weakness of our strengths, we need feedback. The first feedback is our own feedback. By doing some self-reflection, we may discover our gaps leading to increased self-
awareness.</string>
		<key>activities</key>
		<array>
			<dict>
				<key>type</key>
				<string>ChooseFromList</string>
				<key>title</key>
				<string>My Attributes</string>
				<key>subtitle</key>
				<string>We don&apos; need no steenkin&apos; subtitles!</string>
				<key>items</key>
				<array>
					<string>Action maker</string>
					<string>Always right</string>
					<string>Assertive</string>
					<string>Authoritative</string>
					<string>Competitive</string>
					<string>Confident</string>
					<string>Decisive</string>
					<string>Determined</string>
					<string>Direct</string>
					<string>Dominant</string>
					<string>Finisher</string>
					<string>Firm</string>
					<string>Forthright</string>
					<string>Good delegator</string>
					<string>Gritty</string>
					<string>Impatient</string>
					<string>In control</string>
					<string>Independent</string>
					<string>Intolerant</string>
					<string>Judgemental</string>
					<string>Leader</string>
					<string>Likes challenges</string>
					<string>Likes conflict</string>
					<string>Opportunistic</string>
					<string>Organizer</string>
					<string>Outgoing</string>
					<string>Outspoken</string>
					<string>Powerful</string>
					<string>Practical</string>
					<string>Pragmatic</string>
					<string>Proactive</string>
					<string>Problem solver</string>
					<string>Resilient</string>
					<string>Resistive</string>
					<string>Respected</string>
					<string>Results focused</string>
					<string>Self-assured</string>
					<string>Solid</string>
					<string>Self-governing</string>
					<string>Strong willed</string>
					<string>Successful</string>
					<string>Active</string>
					<string>Adventurous</string>
					<string>Bold</string>
					<string>Brash</string>
					<string>Creative</string>
					<string>Disorganised</string>
					<string>Dramatic</string>
					<string>Energetic</string>
					<string>Enthusiastic</string>
					<string>Exciting</string>
					<string>Expressive</string>
					<string>Fast</string>
					<string>Free</string>
					<string>Full of life</string>
					<string>Funny</string>
					<string>Get bored easily</string>
					<string>Group oriented</string>
					<string>Helper</string>
					<string>Idealistic</string>
					<string>Ideas person</string>
					<string>Impetuous</string>
					<string>Impulsive</string>
					<string>Influencing</string>
					<string>Interesting</string>
					<string>Involved</string>
					<string>Likes change</string>
					<string>Likes recognition</string>
					<string>Not detailed</string>
					<string>Open and Friendly</string>
					<string>Optimistic</string>
					<string>People person</string>
					<string>Persuasive</string>
					<string>Positive</string>
					<string>Procrastinator</string>
					<string>Rash</string>
					<string>Restless</string>
					<string>Risk taker</string>
					<string>Rough enough</string>
					<string>Schemer</string>
					<string>Sociable</string>
					<string>Spontaneous</string>
					<string>Accepting</string>
					<string>Accommodating</string>
					<string>Agreeable</string>
					<string>Appreciative</string>
					<string>Broad thinker</string>
					<string>Caring</string>
					<string>Cautious</string>
					<string>Conflict avoider</string>
					<string>Conscientious</string>
					<string>Considerate</string>
					<string>Constant</string>
					<string>Deep thinker</string>
					<string>Dependable</string>
					<string>Easy going</string>
					<string>Fair</string>
					<string>Faithful</string>
					<string>Giving</string>
					<string>Good concentrator</string>
					<string>Guarded</string>
					<string>Holds grudges</string>
					<string>Home body</string>
					<string>Honest</string>
					<string>Kind</string>
					<string>Likes quality</string>
					<string>Listener</string>
					<string>Loyal</string>
					<string>Neighbourly</string>
					<string>Observer</string>
					<string>Open to reason</string>
					<string>Patient</string>
					<string>Pensive</string>
					<string>Quiet</string>
					<string>Reflective</string>
					<string>Resists change</string>
					<string>Respectful</string>
					<string>Safe</string>
					<string>Sensible</string>
					<string>Sensitive</string>
					<string>Sharer</string>
					<string>Stable</string>
					<string>Team player</string>
					<string>Accurate</string>
					<string>Analytical</string>
					<string>Autonomous</string>
					<string>Cautious</string>
					<string>Certain</string>
					<string>Clear thinker</string>
					<string>Complex thinker</string>
					<string>Conscientious</string>
					<string>Correct</string>
					<string>Critical thinker</string>
					<string>Defensive</string>
					<string>Detached</string>
					<string>Diplomatic</string>
					<string>Ethical</string>
					<string>Exact</string>
					<string>Follows rules</string>
					<string>High standards</string>
					<string>Intelligent</string>
					<string>Introspective</string>
					<string>Logical</string>
					<string>Matter-of-fact</string>
					<string>Meticulous</string>
					<string>Obedient</string>
					<string>Orderly</string>
					<string>Overly critical</string>
					<string>Perfectionist</string>
					<string>Persistent</string>
					<string>Pessimistic</string>
					<string>Planner</string>
					<string>Precise</string>
					<string>Principled</string>
					<string>Rational</string>
					<string>Realistic</string>
					<string>Self controlled</string>
					<string>Serious</string>
					<string>Sometimes negative</string>
					<string>Smart</string>
					<string>Steady</string>
					<string>Strong-minded</string>
					<string>Structured</string>
				</array>
				<key>numToChoose</key>
				<string>7</string>
				<key>subNumToChoose</key>
				<string>3</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
